<h1>Posts</h1>
<div class="row">
	<div class="col-md-6">
        <select class="form-control" #u (change)="reloadPosts({ userId : u.value})">
            <option value="">Select a user...</option>
            <option *ngFor="#user of users" value="{{ user.id }}">
                {{user.name}}
            </option>

        </select>
        <i *ngIf="postsLoading" class="fa fa-spinner fa-spin fa-3x"></i>
        <ul class="list-group posts">
            <li *ngFor="#post of posts"		      
                class="list-group-item"
                [class.active]="currentPost == post"
                (click)="select(post)">
                {{ post.title }}
           </li>
        </ul>
	</div>

    <div class="col-md-6">
        <div *ngIf="currentPost" class="panel panel-default">
           <div class="panel-heading">
                <h3 class="panel-title">{{ currentPost.title }}</h3>
            </div>
            <div class="panel-body">
               <p>{{ currentPost.body }}</p>
            </div>
        </div>
        <!--  comments to be loaded -->

        <div class="media">
        <div *ngIf="comments" class="panel panel-default">
        <i *ngIf="commentsLoading" class="fa fa-spinner fa-spin fa-3x"></i>
         <div *ngFor="#comment of comments" class="panel-body">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" 
                        [src]="sourceUrl+comment.id"
                        alt="...">
                </a>
            </div>
             
            
            <div class="media-body">
                <h4>{{ comment.name }}</h4>
                <h5>{{ comment.body }}</h5>
                 
            </div>
         </div>
        </div>
    </div>

    </div>
</div>

